.title-h1 {
    color: grey;
    text-align: center;
    margin-bottom: 50px;
}

.title-h2 {
    color: grey;
    text-align: center;
    margin-bottom: 25px;
    opacity: .5;
}

.title-h3{
    color: grey;
    opacity: .5;
}