header {
    background-color: white;
    border-top: #6DA926 5px solid;
    box-shadow: lightgrey 0px 0px 40px;
    position: fixed;
    width: 100vw;
    height: 60px;
}

.logo {
    font-size: 1.4rem;
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-right: 1rem;
}

header a {
    text-decoration: none;
    color: grey;
    font-size: 1.1em;
}

header nav ul {
    list-style: none;
}

header div {
    padding: 0 1rem;
    height: 60px;
}

.nav:hover {
    border-left: lightgrey 1px solid;
    border-right: lightgrey 1px solid;
    cursor: pointer;
}

.nav:hover a {
    color: #6DA926;
}

.count-cart {
    position: absolute;
    color: white;
    text-align: center;
    width: 30px;
    top: 7px;
}
