<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html.twig' %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% set url = 'https://127.0.0.1:8000/' %}

        {% include 'header.html.twig' %}$
        
        <div class="content">
            {% block body %}{% endblock %}
            <div class="minSite"></div>
        </div>

        {% include 'footer.html.twig' %}
    </body>
</html>
